<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <head>
        <h1 class="lose">YOU LOSE ... in Toulouse ...</h1>
        <!-- reproduce audio al abrir la pagina -->
        <!-- <audio src="/sounds/lose.mp3" autoplay>
            Tu navegador no soporta el elemento "audio"
        </audio> -->
        <!-- también vale -->
        <audio autoplay>
            <source src="/sounds/lose.mp3" type="audio/mp3">
            <source src="/sounds/lose.wav" type="audio/wav">
            Tu navegador no soporta el elemento "audio".
        </audio>
    </head>
</body>
</html>