<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

</style>
<body>
    <table>
        <tr>
            <th>Responsable</th>
            <th>Fecha</th>
            <th>Prioridad</th>
            <th>Historia</th>
        </tr>
        <% arrHistoriasUsuarios.forEach(historia => {%>
            <tr>
                <td><%=historia.responsable%></td>
                <td><%=historia.fechaCaptura%></td>
                <td><%=historia.prioridad%></td>
                <td><%=historia.historiaTXT%></td>
            </tr>
        <% })%>
    </table>
</body>

</html>