<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>ADIVINA</h1>
    </header>
    <main>
            <fieldset>
                <h2>A qué le faltan las 4 patitas de atras?</h2>
                <form action="/lose" method="get">
                    <button type="submit">silla</button>
                </form>
                <form action="/win" method="get">
                    <button type="submit">cucaracha</button>
                </form>
                <form action="/lose" method="get">
                    <button type="submit">gato</button>
                </form>
            </fieldset>
        </section>
    </main>

</body>
</html>