<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
<link rel="" href="css/styles.css">
</head>
<body>
    <h1>Home peich</h1>
    <a href="/querystring?nombre=Juan&edad=12&pais=francia">Click me ...</a>

    <form action="/post" method="POST">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" value="Maria">

        <button type="submit">Enviar</button>
    </form>
</body>
</html>