<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <head>
        <h1 class="lose">YOU LOOSE ...</h1>
        <!-- <audio controls="" autoplay src="../sounds/lose.mp3"></audio> -->
    </head>

<script>

document.querySelector("body").addEventListener("onload", function() {
    console.log("carga")
    document.getElementById("demo").innerHTML = "Hello World"
    let miAudio = new Audio("../sounds/lose.mp3")
    miAudio.play()
});

// let miAudio = new Audio("lose.mp3")

// function carga() {
//     console.log("funciona")
//     // miAudio.play()
//     document.getElementById('intro').play(); 
// }

</script>
</body>
</html>